# Ignore virtual environment folder
env/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other common stuff you might want to exclude
.vscode/
*.log
